<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
    <servlet>
        <servlet-name>configTest1</servlet-name>
        <jsp-file>/configTest1.jsp</jsp-file>
        <init-param>
            <param-name>fileDir</param-name>
            <param-value>C:\test</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>configTest1</servlet-name>
        <url-pattern>/configTest1.jsp</url-pattern>
    </servlet-mapping>
</web-app>